<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>NCC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="no-skin">
    <div id="app"></div>
    <script type="text/javascript" src="https://onejira.verizon.com/s/be984850d1e565c5b7114078af39d8e3-T/4kezc2/72011/c7aa29275592192ce069072bdefe4e22/2.0.23/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=61d66230"></script>
  </body>
</html>
